<div class="card text-center" *ngIf="family!==undefined">
	<div class="card-header">
		<h3 class="center">
			{{family.Name}}'s RSVP Details
		</h3>
	</div>
	<div class="card-block text-center">
		<div class="m-x-auto p-a-2 center">

		<!-- TODO: make a mobile friendly version for screen size width < 1000 -->

		<!-- TODO: get rid of table-hover class if on mobile device... -->

		<!-- TODO: feedback when all RSVPs are completed http://getbootstrap.com/components/#alerts -->
			<table class="text-center table table-responsive table-condensed  <!--table-hover--> center">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>
							<a class="nav-link" routerLink="/main/venue">
								<img class="center heading-image img-fluid" src="../../../assets/friday.png">
								<p class="center heading">Wedding Eve</p>
								<p class="center heading">27th October 2017</p>
							</a>
						</th>
						<th>
							<a class="nav-link" routerLink="/main/venue">
								<img class="center heading-image" src="../../../assets/wedding.png">
								<p class="center heading">Wedding Day</p>
								<p class="center heading">28th October 2017</p>
							</a>
						</th>
						<th>
							<!--<a class="nav-link" routerLink="/main/venue">-->
							<a href="/">
								<img class="center heading-image" src="../../../assets/brunch.png">
								<p class="center heading">Recovery Brunch</p>
								<p class="center heading">29th October 2017</p>
							</a>
						</th>
					</tr>
				</thead>
				<tbody id="rsvpTableBody" >

					<tr *ngFor="let guest of family.Contacts; let i = index">
						<th scope="row">
							<div class="row rsvp-choice-names">
								<div class="col">
									{{ guest.Name }}
								</div>

							</div>

							<div class="row" *ngIf="
							(guest.RSVP_Friday_Night__c=='Yes' || guest.RSVP_Friday_Night__c=='No') &&
							(guest.RSVP_Reception__c=='Yes' || guest.RSVP_Reception__c=='No') &&
							(guest.RSVP_Sunday_Brunch__c=='Yes' || guest.RSVP_Sunday_Brunch__c=='No')
							; then thenBlock else elseBlock"></div>

							<ng-template #thenBlock><div class="col rsvp-status">RSVP Confirmed <img width="15" src="../../../assets/tick.png"/></div><hr></ng-template>
							<ng-template #elseBlock><div class="col rsvp-status rsvp-status-incomplete">RSVP Incomplete</div><hr></ng-template>
							<div class="row">
								<div class="col rsvp-choice-listDietary ">
  									<button type="button"
										(click)="open(content)"
										class="btn btn-primary btn-xs btn-outline-primary rsvp-choice-addDietaryButton"
										>
										Dietary / Add Notes
									</button>

									<ng-template #content let-c="close" let-d="dismiss">
									  <div class="modal-header">
									    <h4 class="modal-title">{{ guest.Name }}<br/></h4>
									    <!--button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
									      <span aria-hidden="true">&times;</span>
									    </button-->
									  </div>
									  <div class="modal-body">

									  	<div class="card">

										  	<h5 class="card-header">Dietry Requirements</h5>
										  		<div class="row">
											  		<br/>
										  		</div>
										  		<div class="row">
										  			<div class="col-2 rsvp-dietary-checkbox">
										  				<input type="checkbox" [(ngModel)]="guest.Vegetarian__c"/>
										  			</div>
										  			<div class="col-4 rsvp-dietary-label">
										  				<p>Vegetarian</p>
										  			</div>
										  			<div class="col-2 rsvp-dietary-checkbox">
										  				<input type="checkbox" [(ngModel)]="guest.Gluten_Free__c"/>
										  			</div>
										  			<div class="col-4 rsvp-dietary-label">
										  				<p>Gluten Free</p>
										  			</div>
										  		</div>
										  		<div class="row">
										  			<div class="col-2 rsvp-dietary-checkbox">
										  				<input type="checkbox" [(ngModel)]="guest.Dairy_Free__c"/>
										  			</div>
										  			<div class="col-4 rsvp-dietary-label">
										  				<p>Dairy Free</p>
										  			</div>
										  			<div class="col-2 rsvp-dietary-checkbox">
										  				<input type="checkbox" [(ngModel)]="guest.Nut_Free__c"/>
										  			</div>
										  			<div class="col-4 rsvp-dietary-label">
										  				<p>Nut Free  </p>
										  			</div>
										  		</div>
										  		<div class="row">
										  			<div class="col rsvp-dietary-checkbox">
										  				<p>Other Dietary Infomation</p>
										  			</div>
										  			<div class="col rsvp-dietary-label">
										  				<textarea placeholder="Add other dietary requirements here" rows="2" [(ngModel)]="guest.Other_Dietry_Requirements__c">
										  				</textarea>
										  			</div>

										  		</div>
										  	</div>

										  	<div class="card">

										  	<h5 class="card-header">Guest Notes</h5>
								  				<textarea placeholder="Add any notes here" rows="3" [(ngModel)]="guest.Guest_Notes__c">
								  				</textarea>
										  	</div>

									  </div>

									  <div class="modal-footer">
									    <button type="button" class="btn btn-secondary" (click)="c(guest)">Save</button>
									  </div>
									</ng-template>

								</div>
							</div>
							<div *ngIf="guest.Vegetarian__c==true" class="row">
								<div class="col rsvp-choice-listDietary ">
									<li>Vegetarian  <!--div class="mylink" (click)="changeDietary(guest.Id, 'Vegetarian__c', 'false')">[remove]</div--></li>
								</div>
							</div>
							<div *ngIf="guest.Gluten_Free__c==true" class="row">
								<div class="col rsvp-choice-listDietary ">
									<li>Gluten Free  <!--div class="mylink" (click)="changeDietary(guest.Id, 'Gluten_Free__c', 'false')">[remove]</div--></li>
								</div>
							</div>
							<div *ngIf="guest.Dairy_Free__c==true" class="row">
								<div class="col rsvp-choice-listDietary ">
									<li>Dairy Free  <!--div class="mylink" (click)="changeDietary(guest.Id, 'Dairy_Free__c', 'false')">[remove]</div--></li>
								</div>
							</div>
							<div *ngIf="guest.Nut_Free__c==true" class="row">
								<div class="col rsvp-choice-listDietary ">
									<li>Nut Free  <!--div class="mylink" (click)="changeDietary(guest.Id, 'Nut_Free__c', 'false')">[remove]</div--></li>
								</div>
							</div>
							<div *ngIf="guest.Other_Dietry_Requirements__c!=null && guest.Other_Dietry_Requirements__c!='' && guest.Other_Dietry_Requirements__c!='undefined' " class="row">
								<div class="col rsvp-choice-listDietary ">
									<li>{{guest.Other_Dietry_Requirements__c}}  <!--div class="mylink" (click)="changeDietary(guest.Id, 'Other_Dietry_Requirements__c', '')">[clear]</div--></li>
								</div>
							</div>
							<div *ngIf="guest.Guest_Notes__c!=null && guest.Guest_Notes__c!='' && guest.Guest_Notes__c!='undefined' " class="row">
								<div class="col rsvp-choice-listDietary ">
									<li>{{guest.Guest_Notes__c}}  <!--div class="mylink" (click)="changeDietary(guest.Id, 'Other_Dietry_Requirements__c', '')">[clear]</div--></li>
								</div>
							</div>


						</th>
						<td id="friday-{{i}}" >
							<div class="rsvp-choice-parent ">
								<div class="row row-choice" >
									<div class="col">
										<div class="rsvp-choice" [class.rsvp-choice-yes]="guest.RSVP_Friday_Night__c=='Yes'" (click)="onRSVP(guest.Id , 'friday', 'Yes', i)">Joyfully accepts</div>

									</div>
								</div>

								<div id="fridayDisable-{{i}}" class="rsvp-choice-disableBox" ></div>

								<div id="fridaySpinner-{{i}}" class="ld ld-hourglass ld-cycle rsvp-choice-spinner"></div>

								<div class="row row-choice">
									<div class="col" >
										<div class="rsvp-choice" [class.rsvp-choice-no]="guest.RSVP_Friday_Night__c=='No'" (click)="onRSVP(guest.Id , 'friday', 'No', i)">Regretfully declines</div>
									</div>
								</div>
							</div>

						</td>
						<td id="saturday-{{i}}" >
							<div class="rsvp-choice-parent">
								<div class="row row-choice" >
									<div class="col">
										<div class="rsvp-choice" [class.rsvp-choice-yes]="guest.RSVP_Reception__c=='Yes'" (click)="onRSVP(guest.Id , 'saturday', 'Yes', i)">Joyfully accepts</div>
									</div>
								</div>

								<div id="saturdayDisable-{{i}}" class="rsvp-choice-disableBox " ></div>

								<div id="saturdaySpinner-{{i}}" class="ld ld-hourglass ld-cycle rsvp-choice-spinner"></div>

								<div class="row row-choice">
									<div class="col" >
										<div class="rsvp-choice" [class.rsvp-choice-no]="guest.RSVP_Reception__c=='No'" (click)="onRSVP(guest.Id , 'saturday', 'No', i)">Regretfully declines</div>
									</div>
								</div>

								<div [style.display]="(guest.RSVP_Reception__c=='Yes') ? 'block' : 'none'"
									  class="rsvp-choice-yes"
									  style="border-radius: .8em;"
								>

							  		<div class="row" style="padding:0px; margin:0px;margin:5px;">
								  		<div class="col">
											What song would get {{guest.FirstName}} to the dance floor?
										</div>
									</div>
							  		<div class="row" style="padding:0px; margin:0px;margin:5px;">
										<div class="col-md-8 no-gutters" style="padding:0px; margin:auto; text-align: center;">
											<textarea 	rows="1"
														style="width:100%; padding:0px; margin:0px;"
														placeholder="Enter song(s) here"
														[(ngModel)]="guest.Song__c"
														(ngModelChange)="songChange(guest)"
											>
											</textarea>
										</div>
										<div class="col-md-8 no-gutters" style="padding:0px; margin:auto; margin-top:0px; text-align: center;">
											<input 	[style.display]="(guest.songChanged==true) ? 'block' : 'none'"
													style="width:100%; padding:0px; margin:0px;"
													type="button"
													value="Save Song"
													(click)="updateGuestField(guest, 'Song__c', guest.Song__c)"/>
											<p 	[style.display]="(guest.songSaved==true) ? 'block' : 'none'">
												Song Saved, Thanks!
											</p>
										</div>
									</div>


								</div>
							</div>
						</td>
						<td id="sunday-{{i}}" >
							<div class="rsvp-choice-parent">
								<div class="row row-choice" >
									<div class="col">
										<div class="rsvp-choice" [class.rsvp-choice-yes]="guest.RSVP_Sunday_Brunch__c=='Yes'" (click)="onRSVP(guest.Id , 'sunday', 'Yes', i)">Joyfully accepts</div>
									</div>
								</div>

								<div id="sundayDisable-{{i}}" class="rsvp-choice-disableBox " ></div>

								<div id="sundaySpinner-{{i}}" class="ld ld-hourglass ld-cycle rsvp-choice-spinner"></div>

								<div class="row row-choice">
									<div class="col" >
										<div class="rsvp-choice" [class.rsvp-choice-no]="guest.RSVP_Sunday_Brunch__c=='No'" (click)="onRSVP(guest.Id , 'sunday', 'No', i)">Regretfully declines</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>

			</table>


		</div>

	</div>

</div>
