<div class="card text-center">
	<div class="card-header">
		<h3 class="center">
			{{family.Name}}'s RSVP Details
		</h3>
	</div>
	<div class="card-block text-center">
		<div class="m-x-auto p-a-2 center">

		<!-- TODO: make a mobile friendly version for screen size width < 1000 -->

			<table class="text-center table table-responsive table-condensed  table-hover center">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>
							<a class="nav-link" routerLink="/main/venue">
								<img class="center heading-image img-fluid" src="../../../assets/friday.png">
								<p class="center heading">Wedding Eve</p>
								<p class="center heading">27th October 2017</p>
							</a>
						</th>
						<th>
							<a class="nav-link" routerLink="/main/venue">
								<img class="center heading-image" src="../../../assets/wedding.png">
								<p class="center heading">Wedding Day</p>
								<p class="center heading">28th October 2017</p>
							</a>
						</th>
						<th>
							<a class="nav-link" routerLink="/main/venue">
								<img class="center heading-image" src="../../../assets/brunch.png">
								<p class="center heading">Recovery Brunch</p>
								<p class="center heading">29th October 2017</p>
							</a>
						</th>
					</tr>
				</thead>
				<tbody id="rsvpTableBody">

					<tr *ngFor="let guest of family.Contacts; let i = index">
						<th scope="row">
							<div class="row row-choice rsvp-choice-names">
								<div class="col">
									{{ guest.Name }}
								</div>
							</div>
						</th>
						<td id="friday-{{i}}" >
							<div class="rsvp-choice-parent ">
								<div class="row row-choice" >
									<div class="col">
										<div class="rsvp-choice" [class.rsvp-choice-yes]="guest.RSVP_Friday_Night__c=='Yes'" (click)="onRSVP(guest.Id , 'friday', 'Yes', i)">Joyfully accepts</div>

									</div>
								</div>

								<div id="fridayDisable-{{i}}" class="rsvp-choice-disableBox" ></div>

								<div id="fridaySpinner-{{i}}" class="ld ld-hourglass ld-cycle rsvp-choice-spinner"></div>

								<div class="row row-choice">
									<div class="col" >
										<div class="rsvp-choice" [class.rsvp-choice-no]="guest.RSVP_Friday_Night__c=='No'" (click)="onRSVP(guest.Id , 'friday', 'No', i)">Regretfully declines</div>
									</div>
								</div>
							</div>

						</td>
						<td id="saturday-{{i}}" >
							<div class="rsvp-choice-parent">
								<div class="row row-choice" >
									<div class="col">
										<div class="rsvp-choice" [class.rsvp-choice-yes]="guest.RSVP_Reception__c=='Yes'" (click)="onRSVP(guest.Id , 'saturday', 'Yes', i)">Joyfully accepts</div>
									</div>
								</div>

								<div id="saturdayDisable-{{i}}" class="rsvp-choice-disableBox " ></div>

								<div id="saturdaySpinner-{{i}}" class="ld ld-hourglass ld-cycle rsvp-choice-spinner"></div>

								<div class="row row-choice">
									<div class="col" >
										<div class="rsvp-choice" [class.rsvp-choice-no]="guest.RSVP_Reception__c=='No'" (click)="onRSVP(guest.Id , 'saturday', 'No', i)">Regretfully declines</div>
									</div>
								</div>
							</div>
						</td>
						<td id="sunday-{{i}}" >
							<div class="rsvp-choice-parent">
								<div class="row row-choice" >
									<div class="col">
										<div class="rsvp-choice" [class.rsvp-choice-yes]="guest.RSVP_Sunday_Brunch__c=='Yes'" (click)="onRSVP(guest.Id , 'sunday', 'Yes', i)">Joyfully accepts</div>
									</div>
								</div>

								<div id="sundayDisable-{{i}}" class="rsvp-choice-disableBox " ></div>

								<div id="sundaySpinner-{{i}}" class="ld ld-hourglass ld-cycle rsvp-choice-spinner"></div>

								<div class="row row-choice">
									<div class="col" >
										<div class="rsvp-choice" [class.rsvp-choice-no]="guest.RSVP_Sunday_Brunch__c=='No'" (click)="onRSVP(guest.Id , 'sunday', 'No', i)">Regretfully declines</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>

			</table>


		</div>

	</div>
	<div class="card-footer text-muted">
		?
	</div>

	<input #notes type="text">
	<button (click)="submitNotes(notes.value)">Submit Notes</button>


</div>
