<div class="card text-center">
	<div class="card-header">
		<h3 class="center">
			{{family.Name}}'s RSVP Details
		</h3>
	</div>
	<div class="card-block text-center">
		<div class="m-x-auto p-a-2 center">
			<table class="text-center table table-responsive  table-hover center">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Friday</th>
						<th>Wedding</th>
						<th>Sunday Brunch</th>
					</tr>
				</thead>
				<tbody>

					<tr *ngFor="let guest of family.Contacts">
						<th scope="row">{{ guest.Name }}</th>
						<td>
							<div class="rsvp-choice" [class.rsvp-choice-yes]="guest.RSVP_Friday_Night__c=='Yes'" (click)="onRSVP(guest.Id , 'friday', 'Yes')">Yes</div>
							<div class="rsvp-choice" [class.rsvp-choice-no]="guest.RSVP_Friday_Night__c=='No'" (click)="onRSVP(guest.Id , 'friday', 'No')">Sorry, can't make it</div>
						</td>
						<td>
							<div class="rsvp-choice" [class.rsvp-choice-yes]="guest.RSVP_Reception__c=='Yes'" (click)="onRSVP(guest.Id , 'saturday', 'Yes')">Yes</div>
							<div class="rsvp-choice" [class.rsvp-choice-no]="guest.RSVP_Reception__c=='No'" (click)="onRSVP(guest.Id , 'saturday', 'No')">Sorry, can't make it</div></td>
							<td>
								<div class="rsvp-choice" [class.rsvp-choice-yes]="guest.RSVP_Sunday_Brunch__c=='Yes'" (click)="onRSVP(guest.Id , 'sunday', 'Yes')">Yes</div>
								<div class="rsvp-choice" [class.rsvp-choice-no]="guest.RSVP_Sunday_Brunch__c=='No'" (click)="onRSVP(guest.Id , 'sunday', 'No')">Sorry, can't make it</div>
							</td>
						</tr>
					</tbody>

				</table>
		</div>

	</div>
	<div class="card-footer text-muted">
		<p>{{daysToGo}} days to go!</p>
	</div>

		<input #notes type="text">
	<button (click)="submitNotes(notes.value)">Submit Notes</button>


</div>
