table {
    margin: 0px auto;
 	display:block;
}

.center {
 	margin: auto;
 	text-align: center;
 	float: none;
  	display: block;
  	padding:0px;
 }

.heading {
	background-color:#767171;
	color: white;
	max-width: 150px;
}

.heading-image {
	max-width:159px;
}


/* RSVP choices "Yes" "No" */
.row-choice {
	margin:5px;

}

.rsvp-choice {
	padding: 5px 10px;
	text-decoration: none;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
}
.rsvp-choice:hover {
	color: #039be5;
	background-color: #CFD8DC;
	cursor: pointer;
	cursor: hand;
}

.rsvp-choice-yes {
	background-color: #4CAF50; /* Green */
}
.rsvp-choice-no {
	background-color: #f16969; /* Light Red */
}
