table {
    margin: 0px auto;
 	display:block;
}

.center {
 	margin: auto;
 	text-align: center;
 	float: none;
  	display: block;
  	padding:0px;
 }

.heading {
	background-color:#767171;
	color: white;
	max-width: 150px;
}

.heading-image {
	max-width:159px;
}

.mylink {
	text-decoration: underline;
	color : #014c8c;
	cursor: pointer;
	cursor: hand;
	display: inline-block;
}

.rsvp-dietary-checkbox {
	text-align: right;
	padding-right: 0px;
    font-size:large;
}

.rsvp-dietary-label {
	text-align: left;
	padding-right: 50px;
    font-size:large;
}

/* RSVP choices "Yes" "No" */
.rsvp-choice {
	padding: 5px;
	text-decoration: none;
	margin: 5px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
}
.rsvp-choice:hover {
	color: #039be5;
	background-color: #CFD8DC;
	cursor: pointer;
	cursor: hand;
}

.rsvp-choice-yes {
	background-color: #4CAF50; /* Green */
}
.rsvp-choice-no {
	background-color: #f16969; /* Light Red */
}
.rsvp-choice-spinner {
	display: none;
	position: absolute;
	z-index: 100
}
.rsvp-choice-disableBox {
	width:100%;
	height:100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	/*background-image: url('../../../assets/heart.gif');*/
	background-color: #333333;
	background-size: 80% 80%;
	background-repeat:no-repeat;
	background-position:center;
	opacity:0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.50;
	display: none;
	position: absolute;
	z-index: 50;
}

.rsvp-choice-parent {
	position:relative;
	padding:5px;
}
.rsvp-choice-names {
	padding-top:20px;
}

.rsvp-choice-listDietary {
	font-weight: normal;
    font-size: 12px;
    background-color: transparent;
}
.rsvp-choice-addDietaryButton {
    background-color: #f4f4f4; /* Blue */
    border: none;
    color: black;
    padding: 2px 2px;
    /*text-align: center;*/
    text-decoration: none;
    font-size: 12px;
    /*display: block;*/
    /*margin: auto;*/
    font-weight: normal;
    vertical-align: text-bottom;
}
.rsvp-choice-addDietaryButton:hover {
	cursor: pointer;
	cursor: hand;

}

