 .dash-div {
 	border-style: none;
 	background-color: white;
 	display:block;
 	margin:auto;
 	padding:0px;
 	border:0px;
 	min-width:100%;
 }

.center {
 	margin: auto;
 	text-align: center;
 	margin: 0px auto;
    float: none;
  	display: block;

 }

.carousel{

}
.carousel-col {
	padding:0px;
	margin:0px;
}
.carousel-image {
 	max-height: 300px;
	padding:0px;

}
.caption {
	padding:0px;
	margin:0px;
	vertical-align: bottom;
}
.carousel-center {
    margin: 0px auto;
    float: none;
	padding:0px;

}
.wreath {
	max-height:300px;
	padding:0px;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    .caption {
        font-size: 0.8em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    .caption {
        font-size: 0.9em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    .caption {
        font-size: 1.0em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    .caption {
        font-size: 1.1em;
    }
}



.transparent {
	vertical-align: center;
	background:#7f7f7f;
  	background:rgba(255,255,255,0.7);
  	height: 100%;
}

.transparent-map {
	vertical-align: center;
	background:#7f7f7f;
  	background:rgba(255,255,255,0.2);
  	height: 100%;
}


.center-vert {
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section-row {
	width:100%;
	height:250px;
	border:none;
}

.section-row a {
	text-decoration: none;
	font-size:150%;
	color:black;
	opacity: 1;
    filter: alpha(opacity=100);
    font-family: Open Sans;
    font-style: normal;
  	font-weight: 400;
}

/*
font-family: 'Sofia', Open Sans;

*/


