<div class="card">
	<div class="card-block">

		<div class="row">
			<div class="col">
				<img class="img-fluid wreath" src="../../assets/wreath-left.jpg"/>
			</div>
			<div class="col-6">
				<ngb-carousel >
					<ng-template ngbSlide *ngFor="let image of imageList">
						<div class="mx-auto" >
							<img class="img-fluid" style="max-height:400px;" src="../../assets/carousel/{{image.image}}" >
							<div class="caption center">
								<p>{{image.header}} | {{image.text}}</p>
							</div>
						</div>
					</ng-template>
				</ngb-carousel>
			</div>
			<div class="col" >
				<img class="img-fluid wreath" style="float: right;" src="../../assets/wreath-right.jpg"/>
			</div>

		</div>
	</div>
</div>

<div class="dash-div">
		<div class="row section-row no-gutters center"
		style="background-image: url('../../../assets/banner-rsvp2.jpg');
		background-size:cover;
		">
		<a routerLink="/main/rsvp" routerLinkActive="active">
			<div class="transparent">
				<div class="center-vert">
					Submit or Update your RSVP Here
				</div>
			</div>
		</a>
	</div>
	<div class="row section-row no-gutters center"
	style="background-image: url('../../../assets/banner-venue4.jpg');
	background-size:cover;">

	<a routerLink="/main/venue" routerLinkActive="active">
		<div class="transparent-map">
			<div class="center-vert">
				Venues
			</div>
		</div>
	</a>
	</div>
	<div class="row section-row no-gutters center"
	style="background-image: url('../../../assets/banner-gifts2.jpg');
	background-size:cover;">

	<a routerLink="/main/gifts" routerLinkActive="active">
		<div class="transparent">
			<div class="center-vert">
				Gift Registry Information
			</div>
		</div>
	</a>
	</div>

</div>
