<div class="dash-div">

	<div class="row no-gutters center" style="background-color: white;">

		<div class="row">
			<h3 class="center welcome">Welcome to our website, {{family.Name}}!</h3>
		</div>
	</div>
	<div class="row section-row no-gutters center"
		 style="background-image: url('../../../assets/banner-rsvp.jpg');
		 		background-size:cover;
		 		">
		 	<a routerLink="/main/rsvp" routerLinkActive="active">
		 		<div class="transparent">
		 			<div class="center-vert">
		    			Submit or Update your RSVP Here
		    		</div>
		    	</div>
		    </a>
	</div>
	<div class="row section-row no-gutters center"
		 style="background-image: url('../../../assets/banner-venue.jpg');
		 		background-size:cover;">

			<a routerLink="/main/venue" routerLinkActive="active">
		 		<div class="transparent">
		 			<div class="center-vert">
		    			Venues
		    		</div>
		    	</div>
		    </a>
	</div>
	<div class="row section-row no-gutters center"
		 style="background-image: url('../../../assets/banner-gifts.jpg');
		 		background-size:cover;">

			<a routerLink="/main/gifts" routerLinkActive="active">
		 		<div class="transparent">
		 			<div class="center-vert">
		    			Gift Registry Info
		    		</div>
		    	</div>
		    </a>
	</div>

</div>
