
<div class="card" >
	<div class="card-block">

		<ngb-carousel>
			<ng-template ngbSlide>
				<div class="mx-auto">
					<img class="img-fluid" src="https://lorempixel.com/900/500?r=4" alt="Random first slide">
					<div class="carousel-caption">
						<h3>Header</h3>
						<p>Some Text</p>
					</div>
				</div>
			</ng-template>
			<ng-template ngbSlide>
				<div class="mx-auto">
					<img class="img-fluid" src="https://lorempixel.com/900/500?r=5"  alt="Random second slide">
					<div class="carousel-caption">
						<h3>Header</h3>
						<p>Some Text</p>
					</div>
				</div>
			</ng-template>
		</ngb-carousel>

	</div>
</div>

<div class="dash-div">


	<div class="row section-row no-gutters center"
		 style="background-image: url('../../../assets/banner-rsvp.jpg');
		 		background-size:cover;
		 		">
		 	<a routerLink="/main/rsvp" routerLinkActive="active">
		 		<div class="transparent">
		 			<div class="center-vert">
		    			Submit or Update your RSVP Here
		    		</div>
		    	</div>
		    </a>
	</div>
	<div class="row section-row no-gutters center"
		 style="background-image: url('../../../assets/banner-venue.jpg');
		 		background-size:cover;">

			<a routerLink="/main/venue" routerLinkActive="active">
		 		<div class="transparent">
		 			<div class="center-vert">
		    			Venues
		    		</div>
		    	</div>
		    </a>
	</div>
	<div class="row section-row no-gutters center"
		 style="background-image: url('../../../assets/banner-gifts.jpg');
		 		background-size:cover;">

			<a routerLink="/main/gifts" routerLinkActive="active">
		 		<div class="transparent">
		 			<div class="center-vert">
		    			Gift Registry Info
		    		</div>
		    	</div>
		    </a>
	</div>

</div>
