 .dash-div {
 	border-style: none;
 	background-color: white;
 	display:block;
 	margin:auto;
 	padding:0px;
 	border:0px;
 	min-width:100%;
 }

.center {
 	margin: auto;
 	text-align: center;
 	margin: 0px auto;
    float: none;
  	display: block;

 }

.carousel{
}
.carousel-image {
 	max-height: 300px;
}


.transparent {
	vertical-align: center;
	background:#7f7f7f;
  	background:rgba(255,255,255,0.7);
  	height: 100%;
}

.center-vert {
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section-row {
	width:100%;
	height:250px;
	border:none;
}

.section-row a {
	text-decoration: none;
	font-size:150%;
	color:black;
	opacity: 1;
    filter: alpha(opacity=100);
    font-family: 'Sofia', Open Sans;
    font-style: normal;
  	font-weight: 400;
}


