<div class="login-div">

	<img class="img-fluid" src="../../assets/weddinglogo.png" alt="#rockmelia Wedding RSVP"/>


	<p>Please enter the Login Code from your invite together with your postcode.</p>
	<p>{{message}}</p>

	<div class="row rowCustom">
		<div class="col"><label>Login Code: </label></div>
		<div class="col"><input [(ngModel)]="loginCode" placeholder="Login Code"/></div>
	</div>
	<div class="row rowCustom">
		<div class="col"><label>Postcode: </label></div>
		<div class="col"><input [(ngModel)]="postcode" placeholder="Postcode"/></div>
	</div>
	<div class="row rowCustom">
	<div class="col"><button (click)="doLogin()">login</button></div>


	</div>

