.heading {
	text-align: center;
	font-weight: normal;
	font-size: 113%;
	padding: 10px;
	background-color: #eee;
	padding-left: 0px;
	padding-right: 0px;
}

.detail {
		text-align: center;

	padding-left: 15px;
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
}

.name {
	font-size:107%;
}

.space {
	max-width: 500px;
	margin:10px;
}

.img-venue {
	width: 500px;
}

#map {
height: 400px;
width: 100%;
}
#legend {
font-family: Arial, sans-serif;
background: #fff;
padding: 10px;
margin: 10px;
border: 3px solid #000;
}
#legend h3 {
margin-top: 0;
}
#legend img {
vertical-align: middle;
}
