<div class="row">
	<div class="col-md-4">
		<div class="card space">
<!--            <img src="../../../assets/royalhotel.jpg" alt="The Royal Hotel Bowral"
            		style="height: 280px; width: 100%; display: block;"
            	class="img-fluid"
            >
            -->
            <img class="img-fluid img-venue" src="../../../assets/royalhotel.jpg" alt="Wedding List Co" />

            <p class="card-text heading">Wedding Eve Celebration</p>
            <p class="card-text detail name">The Royal Hotel</p>
            <p class="card-text detail">255 Bong Bong Street, Bowral</p>
            <p class="card-text detail">Friday 27 October 2017, From 6pm</p>
            <p></p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card space">
            <img class="img-fluid" src="../../../assets/bookbarn.jpg" alt="Wedding List Co" width="500"/>

            <p class="card-text heading">Wedding Ceremony &amp; Reception</p>
            <p class="card-text detail name">Bendooley Estate</p>
            <p class="card-text detail">3020 Old Hume Highway, Berrima</p>
            <p class="card-text detail">Saturday 28 October 2017, 4.30pm</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card space">
            <img class="img-fluid" src="../../../assets/rift.jpg" alt="Wedding List Co" width="500"/>
            <p class="card-text heading">Recovery Brunch</p>
            <p class="card-text detail name">The Rift Coach House</p>
            <p class="card-text detail">8 Carlisle St, Bowral</p>
            <p class="card-text detail">Sunday 29 October 2017, From 10am</p>
		</div>
	</div>
</div>
