<div class="row">
	<div class="col-md-4">
		<div class="card space">
<!--            <img src="../../../assets/royalhotel.jpg" alt="The Royal Hotel Bowral"
            		style="height: 280px; width: 100%; display: block;"
            	class="img-fluid"
            >
        -->
        <img class="img-fluid img-venue" src="../../../assets/royalhotel.jpg" alt="Wedding List Co" />

        <p class="card-text heading">Wedding Eve Celebration<br>Friday 27 October 2017 | from 6pm</p>
        <p class="card-text detail name">The Royal Hotel</p>
		<p></p>
		<p class="card-text detail">Meet us for a drink in the cosy local pub to celebrate a happy weekend away and Amelia &amp; Andrew’s last night of freedom</p>
		<p></p>
        <p class="card-text detail">255 Bong Bong Street | Bowral</p>
        <p></p>
    </div>
</div>
<div class="col-md-4">
	<div class="card space">
		<img class="img-fluid" src="../../../assets/bookbarn.jpg" alt="Wedding List Co" width="500"/>

		<p class="card-text heading">Wedding Ceremony &amp; Reception<br>Saturday 28 October 2017 | 4.15pm</p>
		<p class="card-text detail name">Bendooley Estate</p>
		<p></p>
		<p class="card-text detail">The wedding will take place against a backdrop of the beautiful Australian countryside followed by a party in the Book Barn, surrounded by stories of love, life and adventure</p>
		<p></p>
		<p class="card-text detail">3020 Old Hume Highway | Berrima</p>
        <p></p>
	</div>
</div>
<div class="col-md-4">
	<div class="card space">
		<img class="img-fluid" src="../../../assets/rift.jpg" alt="Wedding List Co" width="500"/>
		<p class="card-text heading">Recovery Brunch<br>Sunday 29 October 2017 | from 10am</p>
		<p class="card-text detail name">The Rift Coach House</p>
		<p></p>
		<p class="card-text detail">Join us for brunch to share stories from the night before and a good old fashioned hangover cure</p>
		<p></p>
		<p class="card-text detail">8 Carlisle St | Bowral</p>
        <p></p>
	</div>
</div>
</div>

    <div id="map" style="height:380px;"></div>
    <div id="legend"><h3>Legend</h3></div>
