 .main-div {
 	border-style: none;
 	background-color: white;
 	display:block;
 	margin:auto;
 	padding:0px;
 	border:0px;
 	min-width:100%;
 }

.center {
 	margin: auto;
 	text-align: center;
 	margin: 0px auto;
    float: none;
  	display: block;

 }

 .welcome {
 	display:block;
 	margin:auto;
 }

