<div class="container-fluid main-div">

	<div class="row" class="header">
		<p class="center welcome">Welcome, {{family.Name}}!</p>
	</div>

	<div class="row">
		<div class="col-md-8">
			<img class="img-fluid " width="180" src="../../assets/weddinglogo.png" alt="#rockmelia Wedding RSVP"/>
		</div>

		<div class="col-md-2" style="position: relative;">


			<!-- TODO: Centre the box vertically -->
			<div class="center hidden-sm-down"
				 style="position: absolute;
					    top: 0;
					    bottom: 0;
					    left: 0;
					    right: 0;
					    width: 250px;
					    height: 30%;
					    margin: auto;
					    "
    		>
				<p>W e d d i n g &nbsp; C o u n t d o w n</p>
				<p>{{daysToGo}}days {{hoursToGo}}hours {{minsToGo}}mins {{secsToGo}}secs</p>

			</div>

		</div>

	</div>

<!-- TODO: auto close after clicking a nav item or X seconds
<nav class="navbar navbar-fixed-top navbar-light bg-inverse">
  <div class="clearfix">
    <button (click)="isCollapsed = !isCollapsed"
      class="navbar-toggler pull-xs-right hidden-sm-up" type="button"
      aria-controls="bd-main-nav"
      aria-label="Toggle navigation">
    		{{menuIcon}}
    </button>

  </div>
  <div class="navbar-toggleable-xs navbar-collapse" id="bd-main-nav"
  [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
    <ul class="nav navbar-nav">
      <li (click)="isCollapsed = true" class="nav-item">
        <a class="navbar-brand hidden-xs-down" routerLink="/main/rsvp">RSVP3</a>

      </li>
      <li (click)="isCollapsed = true" class="nav-item" >
        <a class="nav-item nav-link" routerLink="/main/rsvp">RSVP3</a>
      </li>
    </ul>
  </div>
</nav>
-->


	<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">

		<button (click)="isCollapsed = !isCollapsed"
				class="navbar-toggler"
				type="button"
				aria-controls="navbarToggler"
				aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="navbar-collapse" id="navbarToggler" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">

			<a class="navbar-brand" routerLink="/main/dash">#rockmelia Wedding</a>

			<div class="navbar-toggler"  >
				<div class="center">
					<p>W e d d i n g &nbsp; C o u n t d o w n</p>
					<p>{{daysToGo}}days {{hoursToGo}}hours {{minsToGo}}mins {{secsToGo}}secs</p>
				</div>
			</div>

			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item" (click)="isCollapsed = true">
					<a class="nav-link" routerLink="/main/dash">Home</a>
				</li>
				<li class="nav-item" (click)="isCollapsed = true">
					<a class="nav-link" routerLink="/main/rsvp">RSVP</a>
				</li>
				<li class="nav-item" (click)="isCollapsed = true">
					<a class="nav-link" routerLink="/main/venue">Venue Details</a>
				</li>
				<li class="nav-item" (click)="isCollapsed = true">
					<a class="nav-link" routerLink="/main/gifts">Gift Registry</a>
				</li>
				<li class="nav-item" (click)="isCollapsed = true">
					<a class="nav-link" routerLink="login" (click)="[gotoLogout()]">Logout</a>
				</li>
			</ul>
		</div>
	</nav>

</div>

<router-outlet></router-outlet>
